<h2>код <%= @product.id %></h2>
<p>имя: <%= @product.name %></p>
<p>артикуль: <%= @product.art %></p>
<p>разделко: <%= @product.razd %></p>
<p>цена: <%= @product.price %></p>
<p>шк: <%= @product.ean13 %></p>

<p><%= link_to 'назад', products_path %></p>
